 /*label underline focus color 
   input[type=text]:focus {
     border-bottom: 1px solid #e91e63 !important;
   }
   
input[type=radio].with-gap:checked+label:after { 
border: 1px solid #e91e63 !important;
background-color: #e91e63 !important;
border-color: #e91e63 !important;
/*border-radius: 2px solid #e91e63 !important;*/

#background{
    background-color: #DCEDC8
}

#foreground{
    background-color: #8BC34A
}

#text{
    color: #212121
}
  input[type=text] {
     border-bottom: 1px solid #009688 !important;
   }

#divider{
    background-color: #8BC34A;
    color: #8BC34A;
}

#secondaryText{
    color: #757575;  
}

#accent{
    color: #009688;
}
 #BT{
     color: #212121;
 }

  
